 
<ion-header>

  <ion-navbar hideBackButton color="blue">
      <ion-buttons start>
        <button ion-button color="white" (click)="clckPdf()">
            <ion-icon name="ios-document"></ion-icon> PDF
        </button>
      </ion-buttons>
    <ion-title>Presentación</ion-title>
  </ion-navbar>  

</ion-header>


<ion-content padding> 

  <div *ngFor="let reg of provide.getItemsPresentacion()">
    <ion-list>
      <ion-list-header color="light">
         {{reg.region}}  
      </ion-list-header>
      <div *ngFor="let dato of reg.vallas">
        <ion-card  >
          <img *ngIf="dato.url2==null" src="{{dato.url}}"   >
          <img *ngIf="dato.url2!=null" src="{{dato.url2}}"   >
          <ion-card-content>
            <ion-card-title>
              {{dato.codigo}}
            </ion-card-title>
            <p>Medidas: {{dato.alto}} x {{dato.ancho}} mts</p>
            <p>Acabado: {{dato.acabado}}</p>
            <p>Ubicación: {{dato.ubicacion}}</p>
            <p><button  ion-button full (click)="clckQuitar(dato)"   color="primary">Quitar de Presentación</button></p>
            <!-- <p><button  ion-button full (click)="clckRecortar(dato)"  color="secondary">Recortar</button></p> -->
          </ion-card-content>
        </ion-card> 
      </div>
    </ion-list>
  </div>

  <!-- <button ion-button full (click)="descargarPDF()">Descargar</button>   -->
  <!-- <button ion-button full (click)="provide.eliminarPresentacion()">Clean</button> -->
</ion-content>
